body {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #828282;
	font-weight: 400;
	min-width: 320px;
}
a {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 17px;
	color: #2cc7c1;
}
a:hover {

}
img {
	max-width: 100%;
	height: auto;
}
section, header {
	position: relative;
}
h2 {
	font-family: Montserrat;
	font-size: 30px;
	margin-top: 0;
	text-transform: uppercase;
}

/*==============header=============*/
#header{
	background: url(../img/wlp.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 500px;
}
.sctn-table{
	display: table;
	width: 100%; 
	height: 100%;
}
.sctn-row {
	display: table-row;
}
.sctn-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.sctn-center {
	max-width: 550px;
	display: inline-block;
}
#header h1 {
	font-family: Montserrat;
	font-size: 31px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
#header p {
	font-size: 20px;
	color: #fff;	
}
.btn {
	font-family: Montserrat;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	transition: background 0.3s; 
}
.btn-primary {
	background: #7ea4e8;
}
.btn-primary:hover {
	background: #6787c2;
}
.btn-default {
	background: #6a7079;
}
.btn-default:hover {
	background: #474c52;
	color: #fff;
}

/*==============speakers=============*/
#speakers {
	padding: 90px 0;
	border-bottom: 2px solid #f0f0f1; 
}
#speakers h2 {
	color: #828689;
}
.large {
	color: #828689;
	font-size: 22px;
	margin-bottom: 20px;
}
.sctn-tabs {
	border: 3px solid #ececec;
	border-radius: 2px;
}
.sctn-tabs nav-tabs li:not(.active) {
	background: #ececec;
}
.sctn-tabs .nav-tabs.nav-justified li a,
.sctn-tabs .nav-tabs.nav-justified li.active a,
.sctn-tabs .nav-tabs.nav-justified li.active a:hover,
.sctn-tabs .nav-tabs.nav-justified li.active a:focus{
	border-radius: 0;
	border: none;
	font-family: Ubuntu, sants-serif;
	font-size: 18px;
	font-weight: 700;
	outline: 0;
}
.sctn-tabs .nav-tabs li.active a{
	color: #9097a1;
}
.nav-tabs li a{
	color: #abb1ba;
}
.sctn-tabs .tab-content {
	padding: 25px 20px;
}
.sctn-tabs .tab-content ul {
	padding-left: 10px;
}
.sctn-tabs .tab-content ul li {
	line-height: 30px;
}
.sctn-tabs .tab-content ul li i {
	font-size: 15px;
	color: #2cc7c1;
	margin-right: 10px;
}
.sps-head {
	margin-top: 100px;
	margin-bottom: 60px;
}
.sps-head h2 {
	color: #6a7079;
}

.sps-head h3 {
	color: #777a7d;
	font-size: 20px;
	text-transform: uppercase;
}
.item>div {
	position: relative;
}
.front {
	position: absolute;
	width: 140px;
	height: 140px;
	cursor: pointer; 
}
.back {
	width: 140px;
	height: 140px;
	background: #6bd8d3;
	display: inline-block;
	border-radius: 50%;
	opacity: 0;
}
.back i {
	line-height: 140px;
	font-size: 30px;
	color: #fff;
}
.item div:hover .front {
	opacity: 0.2;
}
.item div:hover .back {
	opacity: 1;
}
.item div:hover h3 {
	color: #6bd8d3;
}
.sps-foot {
	margin-top: 70px;
}
/*==============events=============*/

#events {
	padding: 90px 0;
}
.link {
	text-transform: uppercase;
	font-size: 17px;
}
.time {
	background: #2cc7c1;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	padding: 5px;
	border-radius: 2px;
	margin-right: 25px;   
}
.collapse-link { 
	color: #747a84;
	font-size: 18px;
	font-weight: 500;
}
.collapse-link:hover { 
	color: #747a84;
}
.collapse-state {
	content: #2cc7c1;
}
.colapse p {
	color: #999;
}
.tab-collapse {
	margin-bottom: 20px;
}
.row-item {
	margin-top: 100px; 
}
.carousel-indicators {
	left: 0;
	bottom: 10px;
	margin: 0;
	margin-left: 20px;
	width: auto;
}
.carousel-indicators li {
	border: 1px solid #2cc7c1;
	background: #fff;
	height: 12px;
	width: 12px;
}
.carousel-indicators li.active {
	background: #2cc7c1;
	height: 14px;
	width: 14px;
}
/*==============form =============*/
#form {
	padding: 90px 0;
	background: #f3f3f3; 
}
.sctn-form {
	background: #fff;
	padding: 40px;
	border-radius: 2px;
	margin-top: 50px;	
}
.sctn-form input,
.sctn-form select {
	height: 44px;
	background: #efefef;
	padding-right: 20px;
}
.has-success .form-control-feedback {
	color: #2cc7c1;
}
.has-success .form-control,
.sctn-form input.form-control:focus {
	border: 2px solid #95e3e0;
	background: #fff;
	box-shadow: none;	
}
.form-control-feedback {
	right: 10px;
	line-height: 44px;
}
/*==============select-size-bg-=============*/
.select2-container--default .select2-selection--single {
	height: 44px;
	text-align: left;
	background: #efefef;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 44px;
	color: #bebebe;
}
.select2-container--open .select2-selection--single {
	background: #2cc7c1;
}
.select2-container--open .select2-selection--single .select2-selection__rendered {
	color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 10px;
}
li.select2-results__option:first-child {
	display: none;
}
.select2-results__options,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"]{
	background: #525b64;
}
.select2-results__options{
	color: #2cc7c1;
}
/*==============sponsors=============*/
#sponsors {
	background: #fff;
	padding: 60px 0;
	text-align: center;
}
/*==============contacts=============*/

#contacts {
	background: #525b64;
	padding: 70px 0;
}
#contacts h3,
#contacts h4 {
	color: #fff;
	margin: 0 0 25px;
}
#contacts h3 span {
	font-weight: bold;
	color: #2cc7c1;
}
#contacts h4 {
	font-size: 20px;
}
#contacts p {
	color: #cdd0d2;
}
#contacts a,
#contacts .contacts p {
	font-weight: 500;
	color: #2cc7c1;
}
#contacts .contacts p i {
	margin-right: 10px;
}
/*==============copy=============*/
#copy {
	background: #3f464c;
	padding: 15px 0;
}
#copy p {
	margin: 0;
	color: #cacaca;
	font-size: 14px;
}









/*==============responsive=============*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#speakers,
	#events,
	#form,
	#contacts {
		padding: 20px 0;
	}
	.sps-head, 
	.sps-foot {
		margin: 20px 0;
	}
	.row-item {
		margin-top: 20px; 
	}
	.row-item-col {
		margin: 20px 0;
	}

	#sponsors {
		padding: 20px 0 0;
	} 
	#sponsors img {
		margin-bottom: 20px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
	/*#header {
		min-height: 300px;
	}*/
	.sctn-center {
		max-width: 320px;
	}
	#header h1 {
	font-size: 20px;
	}
	#header p {
		font-size: 16px;
	}
	.btn {
		font-size: 15px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.row-item {
		margin-top: 10px;
	}

}